
* {
    margin: 0px;
    padding: 0px;
    outline: 0;
  }


html, body {
    width: 100%;
    background-color: #777;
  }


body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
  }


#menu {
    text-align: center;
    font-weight: bold;
    font-size: 12px;
    width: 900px;
    margin: 0 auto;
    z-index: 5000;
  }


#menu ul {
    text-align: center;
    list-style-type: none;
    z-index: 5000;
  }


#menu ul li {
    width:140px;
    z-index: 5000;

  }


#menu ul li.nivel1 {
    float: left;
    margin-right: 1px;
  }


#menu ul li a {
    display: block;
    text-decoration: none;
    padding: 2px;
    position: relative;
    color: #fff;
  }


#menu ul li a.nivel2, #menu ul li a.nivel2ie {
    color: #fff;
  }


#menu ul li a.nivel1, #menu ul li a.nivel2 {
    display: block!important;
    display: none;
    position: relative;
    color: #fff;

  }


#menu ul li:hover {
    position: relative;
  }


#menu ul li a:hover, #menu ul li:hover a.nivel1 {
    color:#F7F7F7;
    position: relative;
    background: #523626;
  }


#menu ul li ul {
    display: none;
    color: #fff;
  }


#menu ul li:hover  ul.nivel2, #menu ul li a:hover  ul.nivel2 {
    display: block;
    position: absolute;
    left: 0px;
    background: #828e58;
    color: #fff;
  }


#menu ul li ul li a:hover ul.nivel3, #menu ul li ul li:hover ul.nivel3 {
    display: block;
    position: absolute;
    left: 140px!important;
    left: 140px;
    top:0px!important;
    top: -21px;
    color: #000;

  }


#menu ul li ul li a {
    width: 140px;
    padding: 2px 0px;
/*    border-top-color: #fff;
    border: solid 1px #fff;*/
  }


#menu ul li ul li a:hover {
    border-top-color: #000;
    position: relative;
  }


#menu ul li ul li ul li a.primera {
    border-top-color: #9A8896;
  }


table.falsa {
    border-collapse:collapse;
    border:0px;
    float: left;
    position: relative;
  }

/* dropdown selected properties */

.b_posgrado {
    color:#ffffff;
    background: #9EB0FF;
  }


.b_posgrado a:visited {
    color:#ffffff;
    background: #9EB0FF;
  }


.b_posgrado a {
    color:#ffffff;
    background: #9EB0FF;
  }


.b_posgrado a:hover {
    color:#ffffff;
    background: #9EB0FF;
  }

.mensaje {
	color: #FF0000;
}

.boton_relacion {
	color: blue;
	background: white;
	border: 1px;

}
.boton_grilla {
	color: white;
	background: #974f35;
	border: 1px;
        font-size: 20px;

}
.boton_alerta {
	color: white;
	background: red;
	border: 1px;
	border-color: gray;	
}
.boton_normal {
	color: white;
	background: blue;
	border: 1px;
	border-color: gray;	
}
.titulo {
    color: #0000CC;
    font-family: arial;
    font-size: 16px;
}
.alerta {
    color:#000000;
    font-family: arial;
    font-size: 12px;
    font-weight: bold;
    
}

/*---------- bubble tooltip -----------*/
a.tt{
    position:relative;
    z-index:24;
    color: #000;
    font-weight:bold;
    text-decoration:none;
    font-size: 14px;
}
a.tt span{ display: none; }

/*background:; ie hack, something must be changed in a for ie to execute it*/
a.tt:hover{ z-index:25; color: #aaaaff;}
a.tt:hover span.tooltip{
    display:block;
    position:absolute;
    top:0px; left:0;
	padding: 15px 0 0 0;
	width:200px;
	color: #000;
        text-align: center;
	/*filter: alpha(opacity:90);*/
	KHTMLOpacity: 0.90;
	MozOpacity: 0.90;
	opacity: 0.90;
}
a.tt:hover span.top{
	display: block;
	padding: 30px 8px 0;
    background: url(images/bubble.gif) no-repeat top;
}
a.tt:hover span.middle{ /* different middle bg for stretch */
	display: block;
	padding: 0 8px;
/*        text-align: justify;*/
	background: url(images/bubble_filler.gif) repeat bottom; 
}
a.tt:hover span.bottom{
	display: block;
	padding:3px 8px 10px;
	color: #548912;
    background: url(images/bubble.gif) no-repeat bottom;
}

.iframedoc {
    width: 1200px;
    height: 500px;
    overflow: scroll;
}

  .detalle_vacio {
      background-color: #E13E00;
      color: #ffffff;
      padding: 3px;
  }
  
    .detalle_no_vacio {
      padding: 3px;
  }
    /* el menú en si mismo */
  .menu-pedido  {
    border-radius: 5px;
    list-style-type: none;
    margin: 0 auto; /* si queremos centrarlo */
    padding: 0;
    /* la altura y su ancho dependerán de los textos */
    height: 70px; 
    width: 520px;
    z-index: -100;
    
  }

  /* si es necesario, evitamos que Blogger de problemas con los saltos de línea cuando escribimos el HTML */
  .menu-pedido  br { display:none; }

  /* cada item del menu */
  .menu-pedido  li {
    display: block;
    float: left; /* la lista se ve horizontal */
    height: 20px;
    list-style: none;
    margin: 0;
    margin-left: 15px;
    margin-top: 2px;
    padding: 0;
    position: relative;
    
  }
  .menu-pedido li a {
    border-left: 1px solid #000;
    border-right: 1px solid #666;
    color: black; /* #EEE*/
    display: block;
    font-family: arial;
    font-size: 25px;
    font-weight: bold;
    line-height: 17px;
 /*   padding: 0 25px;
    margin: 6px 0; */
    margin-left: 0;
    margin-top: 0;
    
    text-decoration: none;
    /* animamos el cambio de color de los textos */
    -webkit-transition: color .2s ease-in-out;
    -moz-transition: color .2s ease-in-out;
    -o-transition: color .2s ease-in-out;
    -ms-transition: color .2s ease-in-out;
    transition: color .2s ease-in-out;
  }
  /* eliminamos los bordes del primer y el último */
  .menu-pedido li:first-child a { border-left: none; }
  .menu-pedido li:last-child a{ border-right: none; }
  /* efecto hover cambia el color */
  .menu-pedido li:hover > a {color: #000000; background: #974f35}

  /* los submenús */
  .menu-pedido ul {
    z-index: 10000;
    border-radius: 0 5px 15px 5px;
    left: 0;
    margin: 0;
    padding-left: 10px;
    margin-top: 10px;
    padding-top: 8px;
    opacity: 0; /* no son visibles */
    position: absolute;
    top: 10px; /* se ubican debajo del enlace principal */
    width: 95px;
    /* el color de fondo 222*/
    background: #974f35;
        
    /* animamos su visibildiad */
    -moz-transition: opacity .25s ease .1s;
    -webkit-transition: opacity .25s ease .1s;
    -o-transition: opacity .25s ease .1s;
    -ms-transition: opacity .25s ease .1s;
    transition: opacity .25s ease .1s;
  }
  /* son visibes al poner el cursor encima */
  .menu-pedido li:hover > ul { opacity: 1; }

   /* cada un ode los items de los submenús */
  .menu-pedido ul li {
    height: 0; /* no son visibles */
    overflow: hidden;
    padding: 0;
   
    /* animamos su visibildiad */
    -moz-transition: height .25s ease .1s;
    -webkit-transition: height .25s ease .1s;
    -o-transition: height .25s ease .1s;
    -ms-transition: height .25s ease .1s;
    transition: height .25s ease .1s;
    
  }
  .menu-pedido li:hover > ul li {
     
    height: 36px; /* los mostramos */  
    font-family: Tahoma;
    font-size: 10px;
    overflow: visible;
    padding: 0;
         
  }
  .menu-pedido ul li a {
    font-family: arial;
    font-size: 20px;
    border: none;
    border-bottom: 1px solid #111;
    margin: 0;
    margin-left: -40px;
    /* el ancho dependerá de los textos a utilizar */
    padding: 5px 15px;
    width: 150px;
    
  }
  /* el último n otiene un borde */
  .menu-pedido ul li:last-child a { border: none; }

  .contiene-grilla {
      position:relative;
      text-align: center;
      margin-left: -380px;
      left: 50%;
  }  
  

  .detalle_vacio {
      background-color: #E13E00;
      color: #ffffff;
      padding: 3px;      
  }
  
  .boton_rojo {
      background-color: #FF0000;
      color: #ffffff;
      padding: 3px;      
  }
  
    .detalle_inconsistente {
      background-color: #FFD700;
      color: #000000;
      padding: 3px;      
  }
  
    .detalle_no_vacio {
      padding: 3px;
  }
  
  .boton_cocina {
      background-image: url(images/chef1.gif);
      width:100px;
      height:100px;
      cursor: pointer;  
  }
  
    .boton_admin {
      background-image: url(images/administracion.jpg);
      width:100px;
      height:100px;
      cursor: pointer;  
  }

  
    .boton_pagar {
      background-image: url(images/dinero.jpg);
      width:100px;
      height:100px;
      cursor: pointer;  
  }
  
  .detalle_finalizado {
      background-color: green;
      color: #ffffff;
      padding: 3px;      
  } 
  
 .detalle_pagar {
      background-color: orange;
      color: #000000;
      padding: 3px;      
  } 